.navbar {
    background-color: rgba(0,0,0,0.8);
    z-index:1;
    position:sticky;
    top:0%;
}
a{
    color: whitesmoke;
    margin: auto 10px;
}
.navbar-brand:hover{
    color: red;
}
.nav-item a:hover{
    color:white;
    background-color: red;
}
.navbar-toggler-icon{
    color:red;
}

@media screen and (max-width:562px){
    .navbar-brand{
        font-size: 1.1rem;
    }
}