<footer>
    <div id="left-pannel">
        <span><a href="#">Service</a></span>
        <span><a href="#">Site Map</a></span>
        <span><a href="#">Products</a></span>
        <span><a href="#">Features</a></span>
        <span><a href="#">Address</a></span>
        <span><a href="#">Top Brands</a></span>
        <span><a href="#">Featured</a></span>
    </div>
    <div id="center-pannel">
        <a href="#"><i class="fa fa-instagram myIcon"></i></a>
        <a href="#"><i class="fa fa-facebook myIcon"></i></a>
        <a href="#"><i class="fa fa-twitter myIcon"></i></a>
    </div>
    <div id="right-pannel">
        <span>Copyright &#169;{{ year }}, SRS &#8482;</span>
        <i class="fa fa-level-up up-arrow" aria-hidden="true" style="cursor:pointer;"(click)="goToTop()"></i>
        
    </div>
</footer>