<footer>
    <div id="left-pannel">
        <div><a>Service</a></div>
        <div><a href="#">Site Map</a></div>
        <div><a href="#">Products</a></div>
        <div><a href="#">Features</a></div>
        <div><a href="#">Address</a></div>
        <div><a href="#">Top Brands</a></div>
        <div><a href="#">Featured</a></div>
    </div>
    <div id="center-pannel">
        <a href="#"><i class="fa fa-instagram myIcon"></i></a>
        <a href="https://www.facebook.com/aashish.aquasafe"><i class="fa fa-facebook myIcon"></i></a>
        <a href="#"><i class="fa fa-twitter myIcon"></i></a>
    </div>
    <div id="right-pannel">
        <span>Copyright &#169;{{ year }}, SRS &#8482;</span>
        <i class="fa fa-level-up up-arrow" aria-hidden="true" style="cursor:pointer;"(click)="goToTop()"></i>
        
    </div>
</footer>