#contact-div{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    grid-gap:30px;
   margin: 100px auto;
}

#left-pannel{
    text-align: center;
    grid-column: 1/5;
    width:100%; 
}
#lef-pannel img{
    object-fit: cover;
    width: 100%;
    height: 100%;   
}

#right-pannel{
    grid-column:1/4;
}

#address-pannel{
    text-align: center;
    
}
table td{
    height:100px;
    border:30px solid transparent;
    text-align: left;
}
i{
    color:rgba(0,0,0,0.3);
    outline: black;
}
button{
    border-radius: 0px;
}

/* -------------- */
