<div id="top-div">

</div>
<div id="contact-div">
    <div id="left-pannel">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.731149908255!2d75.61210811367188!3d21.82931618557025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd88573fd9829d7%3A0xad16a3582468b082!2sShree%20Ram%20Sales%20and%20Services!5e0!3m2!1sen!2sin!4v1609655908018!5m2!1sen!2sin" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div id="right-pannel">
        <form action="#">
            <div class="form-group">
                <label for="suggestion"><h1>Get in Touch</h1></label>
                <textarea class="form-control" id="suggestion" rows="4" placeholder="Enter Message"></textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-sm-6">
                <input ngModel type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
              <div class="form-group col-sm-6">
                <input ngModel type="email" email class="form-control" placeholder="Email" />
              </div>
            </div>
            <div class="form-group">
              <input ngModel type="text" class="form-control" placeholder="Enter Subject" />
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
    </div>
    <div id="address-pannel">
      <table>
        <tbody>
          <tr>
            <td><i class="fa fa-home fa-3x"></i></td>
            <td>
              <b>New RadhaVallabh Market,Kharone</b><br>
              <span>Shree Ram Sales & Services.</span>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-phone fa-3x"></i></td>
            <td>
              <b>+91 7389564200</b><br>
              <span>Mon to Fri 9am to 7pm</span>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-envelope fa-3x"></i></td>
            <td>
              <strong>malveaashish123@gmail.com</strong><br>
              <span>Send us your query anytime!</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div id="bottom-div">
</div>