<div id="demo">
    <div class="demo-content">   
        <div class="video-div">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
            <video src="#" controls></video>
        </div>
    </div>
    <div class="demo-content">
        <div class="video-div">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
            <video src="#" controls></video>
        </div>
    </div>
    <div class="demo-content">
        <div class="video-div">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
            <video src="#" controls></video>
        </div>
    </div>
    <div class="demo-content">
        <div class="video-div">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
            <video src="#" controls></video>
        </div>
    </div>
</div>
