<div id="prodDetails">
    <div id="left-panel">
        <img src="{{selectedProdcut.imgUrl}}" />
    </div>
    <div id="right-panel">
        <table>
                <tr>
                    <td class="title">Name</td>
                    <td>{{selectedProdcut.title}}</td>
                </tr>
                <tr>
                    <td class="title">Product Details</td>
                    <td>Aqua Safe is leading brand of water purifier with UV purification technology. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, vitae inventore minus quidem esse natus laboriosam omnis. Asperiores sunt tempore nam atque, minus esse praesentium in? Iste a accusantium dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, debitis amet. Ipsum natus atque beatae quo assumenda eaque facilis velit nemo repellat pariatur, reprehenderit dolor quia rem reiciendis a dolorem!</td>
                </tr>
                <tr>
                    <td class="title">Price</td>
                    <td> ₹ 12000</td>
                </tr>
                <tr>
                    <td class="title">Warrenty</td>
                    <td>1 year manufacture warrenty.</td>
                </tr>
        </table>
    </div>
</div>
<div id="demo-button">
    <button class="btn btn-danger">Request Demo</button>
</div>