#not-found{
    min-height:50vh;
    width: 100%;
    margin-top: 200px;
    text-align: center;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 10rem;
    color:red;
}
#zero{
    height: 100px;
}
#suggestions{
    width:30%;
    text-align: left;
    margin: 15px auto;
}
a{
    color:white;
    text-decoration: none;
}
.zero{
    animation:rotatezero 3s infinite reverse;
}
@keyframes rotatezero{
    0%{font-size:6rem;}
    25%{font-size:4rem}
    50%{font-size:8rem}
    75%{font-size:6rem}
    100%{font-size:10rem}
}

@media screen and (max-width:850px){
    #suggestions{
        width:100%;
        text-align: left;
        margin: 15px auto;
        
    }
}