<div id="demo-form">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName" class="required">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName" class="required">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email" class="required">Email</label>
            <input type="email" email class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="phone" class="required">Contact No</label>
            <input type="tel" class="form-control" id="phone" placeholder="Contact Number">
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="required">Address line 1</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="address2">Address line 2</label>
          <input type="text" class="form-control" id="address2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="city" class="required">City</label>
            <input type="text" class="form-control" id="city">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState" class="required">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>MadhyaPradesh</option>
              <option>Maharashtra</option>
              <option>Gujrat</option>
              <option>Rajsthan</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip" class="required">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
</div>