#banner{
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50%,50%));
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
#left-pannel{
    text-align: center;
    animation: banner-quote 5s cubic-bezier(0.075, 0.82, 0.965, 1) 0.5s infinite reverse;
}
@keyframes banner-quote{
    0%{transform: translateX(0px);}
    25%{transform: translateX(100px);}
    50%{transform: translateX(-100px);}
    75%{transform: translateX(100px);}
    100%{transform:translateX(-700px)}
}

#right-pannel{
}
img{
    width: 60%;
    height:60%;
    animation:img-blink 3s cubic-bezier(0.075, 0.32, 0.165, 0.4) infinite reverse;
}
@keyframes img-blink{
    0%{width:63%;height:63%}
    50%{width:60%;height:60%}
    75%{width:63%;height:63%}
    100%{width:60%;height:60%}
}