<div id="about">
    <div id="content">
        <div id="first-div">
            <h1><i class="fa fa-hashtag"></i> Our Mission</h1>
            <span>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</span>
            <br>
            <span>Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</span>
        </div>
        <div id="second-div">
            <h1><i class="fa fa-hashtag"></i> Our Vision</h1>
            <span>Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</span>
            <br>
            <span>Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan.</span>
        </div>
    </div>
    <div id="video-content">
        <video src="#" controls></video>
    </div>
    
</div>