<div id="prodList">
    <div class="items" *ngFor="let item of productImg">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="{{ item.imgUrl }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body card-link-div"  [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a routerLink="product-demo/" class="card-link">Request Demo</a>
              <a routerLink="product-detail/{{item.id}}" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
</div>
