<div id="prodList">
    <div class="items" >
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image14.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body card-link-div"  [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image15.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image7.jpg" alt="Card image cap">
            <div class="card-body" >
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image8.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body card-link-div" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image9.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image10.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image11.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image12.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link card-2-link">Details</a>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="card" style="width: 18rem;" (mouseover)="toggleClass()" (mouseleave)="removeClass()">
            <img class="card-img-top" src="../assets/images/products/image13.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <div class="card-body" [ngClass]="show?'card-link-div-show':'card-link-div-hidden'">
              <a href="#" class="card-link">Request Demo</a>
              <a routerLink="product-detail/" class="card-link">Details</a>
            </div>
        </div>
    </div>
</div>
