#prodList{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,300px));
    grid-gap: 2px;
    justify-content: space-around;
    margin: 100px auto;
}
.card-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size:1.5rem;
}
img{
    width:150px;
    height: 150px;
    object-fit: cover;
    text-align: center;
    margin: 10px auto;
}
.items{
    text-align: center;
}
.card{
    text-align: center;
    overflow: hidden;
}

a{
    color:white;
    background-color: red;
    padding: 5px 7px;
}
.card-2-link{
    color:white;
    background-color: red;
    padding: 5px 25px;
}
.card-link-div-hidden{
    animation: myAnimeHide 1s;
    transform: translateY(50px);
}
@keyframes myAnimeHide{
    0%{transform: translateY(0px);}
    100%{transform: translateY(50px);}
}
.card-link-div-show{
    animation: myAnime 1s;
}
@keyframes myAnime{
    0%{transform: translateY(50px);}
    100%{transform: translateY(0px);}
}


