/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html, body { height: 100%; scroll-behavior: smooth;}
body { margin: 0;padding: 0;box-sizing: border-box;font-size:3rem; font-family: 'Josefin Sans', sans-serif;}
